rules_version = '2';

service cloud.firestore {
    match /databases/{database}/documents {

        match /products/{productId} {
            allow read: if true;
        }

        match /orders/{orderId} {
            allow read: if true;

            allow create: if true;
            allow update: if false;
            allow delete: if false;
        }
    }
}
